<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All books</title>
    <style>
        table, th, td {
            border: 1px solid;
        }
    </style>
</head>
<body>
    <h1>Error:</h1>
    <div>
        <% if (numOfError === 400) {%>
            <p>statusCode: <%= error.statusCode %></p>
            <p>message: <%= error.message %></p>
            <p>error: <%= error.error %></p>
        <% } %> 

        <% if (numOfError === 404) {%>
            <p>statusCode: <%= error.statusCode %></p>
            <p>message: <%= error.message %></p>
            <p>error: <%= error.error %></p>
        <% } %> 
    </div>
</body>
</html>